.reveal {
	font-size: 24px;
    background-color: #18191A;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5 {
	color: #C7C2BA;
}

.reveal section {
	text-align: justify;
}

.reveal ul {
	list-style-type: disclosure-closed;
}

.reveal ol ol {
	list-style-type: lower-alpha;
}

.reveal li::marker {
	color: #C7C2BA;
}

.reveal strong {
	color: #C7C2BA;
}

.reveal del {
	color: #444;
}

.reveal p code, .reveal li code {
    color: #ffcc66;
}

.reveal section img {
	margin: 0;
	background: inherit;
	border: 0;
	box-shadow: 0 0;
}

.greyed {
	color: #444;
}

.reveal pre {
    margin: 0px 10px;
	font-size: 0.7em;
    width: 98%;
}

.reveal pre code {
    background-color: #232527;
}

.bs-callout {
    font-size: 0.9em;
    padding: 20px;
    margin: 20px 0;
    border: 0px solid;
    border-left-width: 5px;
    background: #303336;
	color: #ddd;
}

.bs-callout-info::before {
    content: "💡";
}

.bs-callout-info {
    border-left-color: #207692;
}

.reveal .progress, .reveal .controls {
	color: #C7C2BA;
}
